
:root {
  --color-deep-blue: #0000a3;
  --color-ocean-blue: #0067b3;
  --color-sky-blue: #40b0df;
  --color-cream: #fff9e8;
  --color-sunflower: #ffd53d;
  --color-light-sunflower: rgba(255, 213, 61, .3);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--color-cream);
}
main {
  height: 100%;
  width: 100%;
  display: flex;
}

* {
  cursor: none !important;
  /* scroll-behavior: smooth !important; */
}


:root:has(.hover-effect:hover) .cursor {
  width: 35px;
  height: 35px;
  mix-blend-mode: difference;
  border-width: 0;
  background-color: var(--color-sunflower);
}

.cursor {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out, background-color 0.2s ease-in-out, border-width 0.2s ease-in-out;
}

.loading-spinner {
  height: 15px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(farthest-side,var(--color-cream) 90%,#0000);
  background: 
    var(--_g) left, 
    var(--_g) right;
  background-size: 25% 100%;
  display: grid;
}
.loading-spinner:before,
.loading-spinner:after {
  content: "";
  height: inherit;
  aspect-ratio: 1;
  grid-area: 1/1;
  margin: auto;
  border-radius: 50%;
  transform-origin: -100% 50%;
  background: var(--color-cream);
  animation: l49 1s infinite linear;
}
.loading-spinner:after {
  transform-origin: 200% 50%;
  --s:-1;
  animation-delay: -.5s;
}

@keyframes l49 {
  58%,
  100% {transform: rotate(calc(var(--s,1)*1turn))}
}